.header{
  background-color: black;
  text-align: center;
  padding: 20px;
}

.card {
       display: inline-block;
       max-width: 300px;
       margin: auto;
      text-align: center;
      font-family: arial;
    }
    
.footer{
       text-align: center;
       padding: 10px;
    }