<!-- <div class="centerdiv">
<form (ngSubmit)="add()">
    <div class="form-group">
        <label>Enter empno</label>
        <input type="number" class="form-control" 
           name="empno" [(ngModel)] = "employee.empno" />
    </div>
    <div class="form-group">
        <label>Enter Name </label>
        <input type="text" class="form-control"
         name="name" [(ngModel)] ="employee.name"/>
        </div>
    <div class="form-group">
        <label >Enter Salary</label>
        <input type="number" class="form-control"
         name="salary" [(ngModel)] ="employee.salary"/>
    </div>
    <div class="form-group">
        <label >Enter Date Of Joining</label>
        <input type="date" class="form-control"
         name="dateOfJoining" [(ngModel)] ="employee.dateOfJoining"/>
    </div>
    <div class="form-group">
        <label>Select Department</label>
        <select class="form-control"
          name="department"[(ngModel)]="employee.department">
            <option *ngFor="let d of departments" value="{{d}}">{{d}}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success">Add</button>
</form>
</div> -->